<div class="col-md-offset-4 col-md-6 pagetitle">
  <h1>You'll be in in no time</h1>
</div>

<div class="body">
  <div class="col-md-2 col-md-offset-2 hidden-xs hidden-sm">
    <span class="small-logo pull-right">b</span>
  </div>

  <div class="col-md-6">
    <form ng-submit="submit()" name="changePasswordForm" class="forgot-password">
      <p>Type and confirm your password and you'll be off to the races!</p>
      <div ng-show="errors.reset_password_token">
        <ul>
          <li ng-repeat="error in errors.reset_password_token">{{error}}</li>
        </ul>
      </div>
      <div class="text-wrapper">
        <input class="input" type="password" name="password" ng-model="individual.password" placeholder="New Password" id="password" ng-class="{full: individual.password.length}"/>
        <label for="password">New Password</label>
        <div class="errors" ng-show="errors.password">
          <ul>
            <li ng-repeat="error in errors.password">{{error}}</li>
          </ul>
        </div>
      </div>

      <div class="text-wrapper">
        <input class="input" type="password" name="password_confirmation" ng-model="individual.password_confirmation" placeholder="Confirm New Password" id="password_confirmation" ng-class="{full: individual.password_confirmation.length}"/>
        <label for="password_confirmation">New Password</label>
        <div class="errors" ng-show="errors.password_confirmation">
          <ul>
            <li ng-repeat="error in errors.password_confirmation">{{error}}</li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <input type="submit" value="Get Running!" class="btn-theme" ng-class="{'btn-theme-disabled': submiting_request}" ng-disabled="submiting_request"></input>
        </div>
      </div>

      <br>
       <a class="trouble-logging" href="#/forgot-password" ui-route="#/forgot-password">forgot password?</a> | <a class="trouble-logging" href="#">contact us</a>
    </form>
  </div>
</div>
