<form ng-submit="submit()" name="forgotForm" class="forgot-password">
  <div class="modal-header" style="border-bottom: 0px solid #e5e5e5;">
    <h4 class="modal-title">It happens to the best of us!</h4>
  </div>
  <div class="modal-body">
    <p>It will be quick, just type your email address below and check your email for instructions on your new password.</p>

    <div ng-show="responseText">
      {{responseText}}
    </div>
    <div class="text-wrapper">
      <input class="input" type="email" name="individualEmail" ng-model="individual.email" placeholder="Email Address" id="individualEmail" ng-class="{full: individual.email.length}"/>
      <label for="individualEmail">Email Address</label>
    </div>
    <div class="row">
      <div class="col-md-4">

      </div>
    </div>

    <br>


  </div>

  <div class="modal-footer" style="border-top: 0px solid #e5e5e5;">
    <a class="btn btn-link"
      ng-click="closeModal()">Sign In!</a> | <a class="btn btn-link" href="https://http://bill-sync.com/contact/">contact us</a>|
    <input type="submit" value="Send" class="btn-theme" ng-class="{'btn-theme-disabled': submiting_request}" ng-disabled="submiting_request"></input>

  </div>

</form>
