
<div class="row">
  <div class="fixedPdf col-md-10">
    <mozilla-pdf-viewer data-file="pdf_url" ng-if="pdf_url" item-hit="itemHit" pdf-page="pdfPage"></mozilla-pdf-viewer>
  </div>
  <div class="col-md-2">
    <div class="align-bottom">
      <table class="calc">
          <tr>
              <td>Bill total</td>
              <td class="amount">${{invoice_fields.amount_due}}</td>
          </tr>
          <tr>
              <td>Taxes</td>
              <td class="amount"><span style="float:left;">-</span>{{invoice_fields.tax}}</td>
          </tr>
          <tr>
              <td>Other Fees</td>
              <td class="amount"><span style="float:left;">-</span>{{invoice_fields.other_fees}}</td>
          </tr>
          <tr>
              <td>Items Total</td>
              <td class="amount"><span style="float:left;">-</span>{{invoice_fields.total_line_items}}</td>
          </tr>
          <tr class="lastrow">
              <td>Unaccounted</td>
              <td class="final amount" ng-class="{'notzero': getUnacounted().toFixed() !== '0'}">
                ${{getUnacounted() | number:2}}
              </td>
          </tr>
      </table>
    </div>
  </div>
</div>

<script type="text/ng-template" id="description.html">
   <a>{{match.model.description}}<span ng-if="match.model.code">, {{match.model.code}}</span></a>
</script>

<script type="text/ng-template" id="code.html">
   <a>{{ match.model.code}}<span ng-if="match.model.description">, {{match.model.description }}</span></a>
</script>

<table class="table-striped table line-items-table">
  <!-- <caption>Line Items</caption> -->
  <thead>
    <tr>
      <th>Quantity</th>
      <th>Code</th>
      <th>Description</th>
      <th>Price</th>
      <th>Discount</th>
      <th>Total</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="line_item in invoice.invoice_transactions track by $index" on-finish-render ng-hide="line_item.description === 'Un accounted for line items'" ng-class="{'red': line_item.failed}">
      <td>
        <input class="input lineiteminput" name="liQuantity{{$index}}" type="text" ng-model="line_item.quantity" integer ng-disable="line_item.automatic_calculation" money>
      </td>
      <td>
        <input class="input lineiteminput" type="text" name="line_item_typeahead" ng-model="line_item.code" placeholder="Code" typeahead="line_item as line_item.code for invoice_transactions in getLineItems($viewValue, 'code')" typeahead-template-url="code.html" typeahead-on-select="setLineItem($item, $model, $label, 'code', line_item)" ng-class="{full: $viewValue.length}">
      <td>
        <input class="input lineiteminput" type="text" name="line_item_typeahead" ng-model="line_item.description" placeholder="Description" typeahead="line_item as line_item.description for invoice_transactions in getLineItems($viewValue, 'description') | filter:{description:$viewValue}" typeahead-template-url="description.html" typeahead-on-select="setLineItem($item, $model, $label, 'description', line_item)" ng-class="{full: $viewValue.length}">
      </td>
      <td>
        <input class="input lineiteminput" name="liPrice{{$index}}" type="text" ng-model="line_item.price" placeholder="Price" money>
      </td>
      <td>
        <input class="input lineiteminput" name="liDiscount{{$index}}" type="text" ng-model="line_item.discount" placeholder="Discount" money ng-disable="line_item.automatic_calculation">
      </td>
      <td>
        <input class="input lineiteminput" name="liTotal{{$index}}" type="text" ng-model="line_item.total" placeholder="Total" ng-if="line_item.automatic_calculation" min="-9999999" />
        <input class="input lineiteminput" name="liTotal{{$index}}" type="text" ng-model="line_item.total" placeholder="Total" money ng-if="!line_item.automatic_calculation" min="-9999999" />
      </td>
      <td>
        <a class="btn-theme" ng-click="removeLineItem($index)" style="float:left"><i class="fa fa-times"></i></a>
      </td>
    </tr>
    <tr>
      <td>
        <input class="input lineiteminput" name="liQuantity" type="text" ng-model="new_line_item.quantity" ng-change="addLineItem('liQuantity')" placeholder="Quantity" money>
      </td>
      <td>
        <input class="input lineiteminput" type="text" name="line_item_typeahead" ng-model="new_line_item.code" placeholder="Code" typeahead="line_item as line_item.code for invoice_transactions in getLineItems($viewValue, 'code')" typeahead-template-url="code.html" typeahead-on-select="setLineItem($item, $model, $label, 'code', new_line_item)" ng-class="{full: $viewValue.length}">
      </td>
      <td>
        <input class="lineiteminput input" type="text" name="line_item_typeahead" ng-model="new_line_item.description" placeholder="Description" typeahead="line_item as line_item.description for invoice_transactions in getLineItems($viewValue, 'description') | filter:{description:$viewValue}" typeahead-template-url="description.html" typeahead-on-select="setLineItem($item, $model, $label, 'description', new_line_item)" ng-class="{full: $viewValue.length}">
      </td>
      <td>
        <input class="input lineiteminput" name="liPrice" type="text" ng-model="new_line_item.price"  ng-change="addLineItem('liPrice')" placeholder="Price" money>
      </td>
      <td><input  class="input lineiteminput" name="liDiscount" type="text" ng-model="new_line_item.discount" ng-change="addLineItem('liDiscount')" placeholder="Discount" money>
      </td>
      <td>
        <input class="input lineiteminput" name="liTotal" type="text" ng-model="new_line_item.total" value="{{new_line_item.total || new_line_item.quantity * new_line_item.price}}" ng-change="addLineItem('liTotal')" placeholder="Total" money>
      </td>
    </tr>
    <tr class="lastrow">
      <td></td>
      <td></td>
      <td colspan="3" align="right">
        Unaccounted for line items
      </td>
      <td class="final amount" ng-class="{'notzero': getUnacounted().toFixed() !== '0'}">
        {{getUnacounted() | number:2}}
      </td>
    </tr>
  </tbody>
</table>
