<ion-modal-view id="default" style="border:solid 2px #d3d3d3; border-radius: 5px;">
    <!--ion-header-bar>
      <h1 class="title">My Modal title</h1>
    </ion-header-bar-->
  <ion-content>


		<div class="row">
			<div class="col text-center">
				<!--img src="img/signupprocess2.png" style="width:95%;height:75%"-->
				<img src="img/signupprocess2.png" style="width:95%;height:75%">
			</div>
	    </div>

		<div class="row" style="margin-top:5px;">
			<div class="col">
				<button class="button button-block button-light" style="border-radius: 5px;" ng-click="openLogin()">Log in</button>
			</div>
			<div class="col">
				<button class="button button-block button-positive" style="border-radius: 5px;" ng-click="showSignUp()">15 second, FREE signup</button>
			</div>
		</div>

  </ion-content>
</ion-modal-view>