<ion-modal-view id="login" style="height:71%; border:solid 2px #d3d3d3; border-radius: 5px;"> 
  <ion-header-bar class="large-bar">
    <div class="row">
      <div class="col text-center">
        <img src="img/billsync.png" width="105" height="100">
        <div style="font-size:17px; font-weight: bold; color: #336699">Hi! Get started with your billSync login.</div>
      </div>
    </div>
    <!--img src="img/billsync.png" style="margin-left:36%"-->
  </ion-header-bar>
  <ion-content class="has-large-header">
    <ion-list>
      <!--ion-item class="item-input">
        <span class="input-label text-right">E-Mail</span>
        <input type="email" ng-model="loginData.email">
      </ion-item-->
      <label class="item item-input item-floating-label">
        <span class="input-label">E-Mail</span>
        <input type="text" placeholder="E-Mail" ng-model="loginData.email">
      </label>

      <label class="item item-input item-floating-label">
        <span class="input-label">Password</span>
        <input type="{{chkState ? 'text' : 'password'}}" ng-model="loginData.password" placeholder="Password">
      </label>
      <!--ion-item class="item-input">
        <span class="input-label text-right">Password</span>
        <input type="{{chkState ? 'text' : 'password'}}" ng-model="loginData.password">
      </ion-item-->
      <ion-item class="item item-checkbox" style="border-style:none;">
           <label class="checkbox">
             <input type="checkbox" ng-click="showPassword()">
           </label>
           Show password
      </ion-item>
      <ion-item style="border-style:none;">
        <div class="row">
          <div class="col">
            <button class="button button-block button-light" style="border:2px solid #336699;background-color:white;border-radius: 5px;display: block;line-height: 132%;white-space:normal;font-size:17px;" ng-click="doLogin()">
            <div style="margin-left:-7px;"><font style="color:#336699;">Login</font></div>
            </button>
          </div>
          <div class="col">
            <button class="button button-block button-light" ng-click="showSignUp()">Sign up</button>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>

