<form name="passwordForm"
  ng-submit="submit()">
  <div class="modal-header">
    <h4 class="modal-title">Set Password</h4>
  </div>

  <div class="modal-body">
    <div class= "box-content">
      <div class="text-wrapper">
        <p>Please set a password for your QuickBooks connection, this does not have to be your login password</p>
        <input class="input" name="file_password" type="password" placeholder="File password" id="file_password"
            ng-model="file_password"
            ng-class="{ full: currentUser.file_password.length,
                        'ng-invalid ng-invalid-required': ! currentUser.file_password }">
        <label for="file_password">File Password</label>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <a class="btn btn-theme" ng-click="save()">Download</a>
    <a class="btn btn-theme" ng-click="cancel()">Cancel</a>
  </div>

</form>
