<p><%= @individual.name %>,</p>

<p>You have been invited to join <%= @individual.inviter_name %> on billSync!  Over the next few days we will send you a few emails to get you up and running.  You will be helping your company have the most efficient bill processing team you could imagine.  If you have questions just email hello@bill-sync.com or send a message by clicking the the “?” once you are logged in.  Your login credentials are below, lets get running!</p>

<pre>
e-mail:   <%= @individual.email %>
password: <%= @password %>
</pre>
