{"http_interactions":[{"request":{"method":"post","uri":"https://mechanicalturk.sandbox.amazonaws.com/","body":{"encoding":"UTF-8","string":"HITId=mt_hit_id_3\u0026Operation=GetHIT\u0026Service=AWSMechanicalTurkRequester\u0026AWSAccessKeyId=key+needed\u0026Timestamp=2015-04-02T01%3A28%3A21Z\u0026Version=2012-03-25\u0026Signature=HMaf%2F68nvfLuFrmNB7NjpEk7QBY%3D"},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["text/xml"]},"body":{"encoding":"UTF-8","string":"\u003c?xml version=\"1.0\"?\u003e\n\u003cGetHITResponse\u003e\u003cOperationRequest\u003e\u003cRequestId\u003ef79d368d-4734-445c-a590-4e27d805aa27\u003c/RequestId\u003e\u003cErrors\u003e\u003cError\u003e\u003cCode\u003eAWS.NotAuthorized\u003c/Code\u003e\u003cMessage\u003eThe identity contained in the request is not authorized to use this AWSAccessKeyId (1427938103213 s)\u003c/Message\u003e\u003c/Error\u003e\u003c/Errors\u003e\u003c/OperationRequest\u003e\u003c/GetHITResponse\u003e"},"http_version":null},"recorded_at":"Thu, 02 Apr 2015 01:28:23 GMT"}],"recorded_with":"VCR 2.9.3"}