 <ion-popover-view id="checklist">
    <ion-header-bar>
      	<div class="row" style="color: #336699;">	  		
		  	<!--<div class="col" style="margin-top: -14px;">
		  		<span class="logo" style="font-size: 38px;">b</span>
		  	</div>-->
	  		<span class="checklist-progress"> {{getCompletationPersent2()}} more tasks to unlock a treat!
	  		</span>
		  	<!--div class="col col-90 text-left">
	
		  	</div-->	  		  		
	  	</div>
    </ion-header-bar>
    <ion-content style="font-size:21px;">
      <br>
      <checklist></checklist>
    </ion-content>
  </ion-popover-view>