<ion-modal-view style="height: 55%;">
    <!--ion-header-bar>
      <h1 class="title">My Modal title</h1>
    </ion-header-bar-->
  <ion-content>


        <div class="row">
			<div class="col">
          		<canvas id='signatureCanvas' height='180' style='width:100%;border: 1px solid grey;'></canvas>
			</div>
	    </div>

		<div class="row" style="margin-top:5px;">
          <div class='button-bar'>
              <a class='button button-outline button-positive' ng-click='clearCanvas()'>Clear</a>
              <a class='button button-outline button-positive' ng-click='saveCanvas()'>Save</a>
          </div>
		</div>



  </ion-content>
</ion-modal-view>