{"http_interactions":[{"request":{"method":"post","uri":"https://mechanicalturk.sandbox.amazonaws.com/","body":{"encoding":"UTF-8","string":"HITId=mt_hit_id_26\u0026Operation=GetHIT\u0026Service=AWSMechanicalTurkRequester\u0026AWSAccessKeyId=key+needed\u0026Timestamp=2015-03-12T17%3A54%3A28Z\u0026Version=2012-03-25\u0026Signature=izrsFBh43DbIKwhEnRI1C%2FQ2KFI%3D"},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["text/xml"]},"body":{"encoding":"UTF-8","string":"\u003c?xml version=\"1.0\"?\u003e\n\u003cGetHITResponse\u003e\u003cOperationRequest\u003e\u003cRequestId\u003e505787b7-5e46-4ae7-a2e1-8abe93c5cee6\u003c/RequestId\u003e\u003cErrors\u003e\u003cError\u003e\u003cCode\u003eAWS.NotAuthorized\u003c/Code\u003e\u003cMessage\u003eThe identity contained in the request is not authorized to use this AWSAccessKeyId (1426182869036 s)\u003c/Message\u003e\u003c/Error\u003e\u003c/Errors\u003e\u003c/OperationRequest\u003e\u003c/GetHITResponse\u003e"},"http_version":null},"recorded_at":"Thu, 12 Mar 2015 17:54:29 GMT"},{"request":{"method":"post","uri":"https://mechanicalturk.sandbox.amazonaws.com/","body":{"encoding":"UTF-8","string":"HITId=mt_hit_id_26\u0026Operation=GetHIT\u0026Service=AWSMechanicalTurkRequester\u0026AWSAccessKeyId=key+needed\u0026Timestamp=2015-03-12T17%3A54%3A29Z\u0026Version=2012-03-25\u0026Signature=zuMG8uczhEFz9xEZaSkbd3gmWzE%3D"},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["text/xml"]},"body":{"encoding":"UTF-8","string":"\u003c?xml version=\"1.0\"?\u003e\n\u003cGetHITResponse\u003e\u003cOperationRequest\u003e\u003cRequestId\u003e62cea656-1ec6-4f88-94a0-a31b2423f3fe\u003c/RequestId\u003e\u003cErrors\u003e\u003cError\u003e\u003cCode\u003eAWS.NotAuthorized\u003c/Code\u003e\u003cMessage\u003eThe identity contained in the request is not authorized to use this AWSAccessKeyId (1426182870034 s)\u003c/Message\u003e\u003c/Error\u003e\u003c/Errors\u003e\u003c/OperationRequest\u003e\u003c/GetHITResponse\u003e"},"http_version":null},"recorded_at":"Thu, 12 Mar 2015 17:54:30 GMT"}],"recorded_with":"VCR 2.9.3"}