<p>We’re excited to get you started with billSync, but first we have to make sure you’re legit.</p>

</p>To show us this a valid account, please click the link below to confirm your email address. We’ll send you a few more setup steps over the course of your trial month, so keep an eye out, and get ready to save more time and money than you could have imagined.</p>
<br />

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token, protocol: "https") %></p>

Thanks,
Heather -billSync Customer Support Specialist
