<p>Hey!</p>

<p>Looks like your password is on the run from your memory. Don't worry. You can change it through this link: <%= link_to 'Change my password', Rails.env.development? ? "http://localhost:3000/UI/index.html#/forgot-password?reset_password_token=#{@token}" : "https://www.bill-sync.com/app/#/forgot-password?reset_password_token=#{@token}" %></p>

<p>Didn't ask for this? Pretend we never emailed you. Your password won't change until you access the link above and create a new one.</p>

<p>— Heather, Support Specialist, support@bill-sync.com</p>
