{"http_interactions":[{"request":{"method":"post","uri":"https://mechanicalturk.sandbox.amazonaws.com/","body":{"encoding":"UTF-8","string":"HITId=mt_hit_id_28\u0026Operation=GetHIT\u0026Service=AWSMechanicalTurkRequester\u0026AWSAccessKeyId=key+needed\u0026Timestamp=2015-03-12T17%3A54%3A30Z\u0026Version=2012-03-25\u0026Signature=%2Ftwr7SJm64uBfsxvnUtbDCt3nD4%3D"},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["text/xml"]},"body":{"encoding":"UTF-8","string":"\u003c?xml version=\"1.0\"?\u003e\n\u003cGetHITResponse\u003e\u003cOperationRequest\u003e\u003cRequestId\u003eb61bbadc-4b34-4146-a2cd-604b795f2e4d\u003c/RequestId\u003e\u003cErrors\u003e\u003cError\u003e\u003cCode\u003eAWS.NotAuthorized\u003c/Code\u003e\u003cMessage\u003eThe identity contained in the request is not authorized to use this AWSAccessKeyId (1426182870816 s)\u003c/Message\u003e\u003c/Error\u003e\u003c/Errors\u003e\u003c/OperationRequest\u003e\u003c/GetHITResponse\u003e"},"http_version":null},"recorded_at":"Thu, 12 Mar 2015 17:54:31 GMT"},{"request":{"method":"post","uri":"https://mechanicalturk.sandbox.amazonaws.com/","body":{"encoding":"UTF-8","string":"HITId=mt_hit_id_28\u0026Operation=GetHIT\u0026Service=AWSMechanicalTurkRequester\u0026AWSAccessKeyId=key+needed\u0026Timestamp=2015-03-12T17%3A54%3A31Z\u0026Version=2012-03-25\u0026Signature=wv0bJjhTnr2K5IGTyRsSb1TqBr8%3D"},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["text/xml"]},"body":{"encoding":"UTF-8","string":"\u003c?xml version=\"1.0\"?\u003e\n\u003cGetHITResponse\u003e\u003cOperationRequest\u003e\u003cRequestId\u003e7ca7abea-d382-4f5c-a7c4-784c95f86938\u003c/RequestId\u003e\u003cErrors\u003e\u003cError\u003e\u003cCode\u003eAWS.NotAuthorized\u003c/Code\u003e\u003cMessage\u003eThe identity contained in the request is not authorized to use this AWSAccessKeyId (1426182871688 s)\u003c/Message\u003e\u003c/Error\u003e\u003c/Errors\u003e\u003c/OperationRequest\u003e\u003c/GetHITResponse\u003e"},"http_version":null},"recorded_at":"Thu, 12 Mar 2015 17:54:31 GMT"}],"recorded_with":"VCR 2.9.3"}