{"http_interactions":[{"request":{"method":"post","uri":"https://mechanicalturk.sandbox.amazonaws.com/","body":{"encoding":"UTF-8","string":"HITId=mt_hit_id_33\u0026Operation=GetHIT\u0026Service=AWSMechanicalTurkRequester\u0026AWSAccessKeyId=key+needed\u0026Timestamp=2015-03-12T17%3A54%3A34Z\u0026Version=2012-03-25\u0026Signature=WguOeiQut8tGyxnLJNkscQkyhLI%3D"},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["text/xml"]},"body":{"encoding":"UTF-8","string":"\u003c?xml version=\"1.0\"?\u003e\n\u003cGetHITResponse\u003e\u003cOperationRequest\u003e\u003cRequestId\u003e7ae7f72d-0b34-4406-8298-dbe5d65f6205\u003c/RequestId\u003e\u003cErrors\u003e\u003cError\u003e\u003cCode\u003eAWS.NotAuthorized\u003c/Code\u003e\u003cMessage\u003eThe identity contained in the request is not authorized to use this AWSAccessKeyId (1426182874991 s)\u003c/Message\u003e\u003c/Error\u003e\u003c/Errors\u003e\u003c/OperationRequest\u003e\u003c/GetHITResponse\u003e"},"http_version":null},"recorded_at":"Thu, 12 Mar 2015 17:54:35 GMT"}],"recorded_with":"VCR 2.9.3"}