<ion-view title="Accounting">
  <ion-nav-buttons>
    <button class="button" ui-sref="app.tabs.home">Close</button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
   <button class="right-buttons button button-icon icon ion-help" style="z-index:99;" ng-click="openIntercom();">
    </button>    
  </ion-nav-buttons>
  <ion-content class="has-header">
      <div class="row" style="margin-top:50px;" ng-show="vendors.length==0 || vendors==null">
        <div class="col text-center" >
          <h4 style="color:#336699;">Accounting must be setup by logging onto our website at bill-sync.com on a PC or mac with your username and password.</h4>
        </div>
      </div>
  </ion-content>
</ion-view>