 <ion-popover-view id="checklistPopup" style="width:300px;height: 250px;top:45px !important">
    <ion-header-bar style="margin:0px !important;height: 40px;">
      	<div class="row" style="color: #336699;  font-weight: bold;padding:0px !important; margin:0px !important;height: 40px; text-align: middle;">
		  	<div class="col" style="margin-top:-5px;">
		  		
		  	</div>	  		
		  	<div class="col col-90">
		  		<span class="checklist-progress" style="font-size:12px; text-align: middle;"> {{getCompletationPersent2()}} tasks to unlock a treat!
		  		</span>
		  	</div>	  		  		
	  	</div>
    </ion-header-bar>
    <ion-content style="margin-top:-15px !important; padding-top: 10px; font-size:12px;">
      <checklist></checklist>
    </ion-content>
  </ion-popover-view>