<ion-modal-view>
    <!--ion-header-bar>
      <h1 class="title">My Modal title</h1>
    </ion-header-bar-->
  <ion-content>


		<div class="row">
			<div class="col text-center" style="height:80% !important">
				<img src="img/signupprocess2.png" style="width:95%;height:75% !important">
			</div>
	    </div>

		<div class="row" style="margin-top:-40px;">
			<div class="col">
				<button class="button button-block button-light" style="border-radius: 5px;" ng-click="openLogin()">Log in</button>
			</div>
			<div class="col">
				<button class="button button-block button-light" style="border:2px solid #336699;background-color:white;border-radius: 5px;display: block;line-height: 132%;white-space:normal;font-size:16px;" ng-click="showSignUp()">
				<div style="margin-left:-7px;"><font style="color:#336699;">15 second, FREE signup</font></div>
				</button>
				<!--button class="button button-block button-positive" style="border-radius: 5px;display: inline-block;white-space:nowrap;font-size:13px;" ng-click="showSignUp()">
				<div style="margin-left:-12px;">15 second, FREE signup</div>
				</button-->
			</div>
		</div>

  </ion-content>
</ion-modal-view>