<ion-modal-view>
    <ion-header-bar class="large-bar" style="height:120px">
        <div class="row">
            <div class="col text-center" style="padding:0px;">
                <img src="img/billsync.png" style="width:100px;height:100px">
            </div>
        </div>
    </ion-header-bar>
    <ion-content id="forgotPassword" class="has-large-header">
        <div class="modal-content" modal-transclude="">
            <form  name="forgotForm" class="forgot-password ng-pristine ng-valid ng-scope ng-valid-email">
                <div class="modal-header" style="border-bottom: 0px solid #e5e5e5;">
                    <h4 class="modal-title">It happens to the best of us!</h4>
                </div>
                <div class="modal-body">
                    <p>It will be quick, just type your email address below and check your email for instructions on your new password.</p>

                    <div ng-show="responseText" class="ng-binding ng-hide">

                    </div>

                    <label class="item item-input item-floating-label">
                      <span class="input-label">Email Address</span>
                      <input id="individualEmail" name="individualEmail" type="email" placeholder="Email Address" ng-model="individual.email">
                   </label>

                </div>

                <!--<div class="modal-footer" style="border-top: 0px solid #e5e5e5; text-align: center; margin-top: 10px;">
                    <a class="btn btn-link" ng-click="contactUs()" href="#">contact us</a>|
                    <button class="button button-block button-light" style="border:2px solid #336699;background-color:white;border-radius: 5px;display: block;line-height: 132%;white-space:normal;font-size:17px;" ng-click="submitForgotPassword()">
                            <div style="margin-left:-7px;"><font style="color:#336699;">Send New Password</font></div>
                    </button>
                </div>-->

                <ion-item style="border-style:none;">
                <div class="row">
                  <div class="col">
                    <button class="button button-block button-light" style="background-color:white;border-radius: 5px;display: block;line-height: 132%;white-space:normal;font-size:17px;" ng-click="backtoSignin();">
                    <div style="margin-left:-7px;"><font style="color:#336699;">Sign in!</font></div>
                    </button>
                  </div>
                  <div class="col">
                    <button class="button button-block button-light" style="background-color:white;border-radius: 5px;display: block;line-height: 132%;white-space:normal;font-size:17px;" ng-click="contactUs()">
                     <div style="margin-left:-7px;"><font style="color:#336699;">Contact us!</font></div>
                    </button>
                 </div>
                
                  <div class="col">
                    <button class="button button-block button-light" ng-click="submitForgotPassword()"><font style="color:#336699;">Send</font></button>
                  </div>
                </div>
              </ion-item>

            </form>
        </div>
    </ion-content>
</ion-modal-view>