<ion-view title="Bill Details" hide-back-button="true">
  <ion-nav-buttons>
    <a href="" class="button" ui-sref="app.tabs.home">Close</a>
    <div style="position:absolute; right:15px;top:18px;z-index:99;">
      <button class="button button-icon icon ion-help text-right" style="margin-left:54px;left:17px;z-index:-1;" ng-click="openIntercom();">
      </button>            
    </div>
  </ion-nav-buttons>
    <ion-content class="has-header">
      <div class="row">
        <div class="col col-80">

          <div class="row">
            <div class="col" style="margin-top:-19px;">
              <h4>{{invoice.vendor.name}} &mdash; ${{invoice.amount_due | number: 2}}</h4>
            </div>
          </div>
          <div class="row">
            <div class="col" style="margin-top:-20px;">
              <small class="text-muted">
                {{invoice.vendor.address1}}, {{invoice.vendor.city}}, {{invoice.vendor.state}}, {{invoice.vendor.zip}}
              </small>
              <br>
              <span style="font-size:15px; text-transform: lowercase;">received {{invoice.date | date : 'MMM-dd'}}</span>
              <span style="display:block;">
                <small ng-if="invoice.accountant_approved" class="billsync-green text-green">
                    <i class="ion-calculator text-green"></i> Accountant approved
                </small>
              </span>
            </div>
          </div>
        </div>
        <div class="col text-center">
          <span style="display:block; margin:0px; padding:0px;"><small class="text-green">due</small></span>
          <span style="display:block; margin:0px; padding:0px;"><strong>{{invoice.due_date | date : 'dd'}}</strong></span>
          <span style="display:block; margin:0px; padding:0px;"><small>{{invoice.due_date | date : 'MMM'}}</small></span>
          <span class="date-block-month" style="margin-top:5px;">  
            <i class="ion-checkmark text-green" ng-if="invoice.regular_approved"></i> 
          </span>
        </div>
      </div>

        <!--<div class="row">
             <div class="col" ng-if="invoice.total_alerts && invoice.total_alerts.length > 0">
                <display-alerts invoice="invoice" show-ul="true"></display-alerts>
            </div>
        </div>-->

        <div style="margin-left:10px;" ng-if="invoice.total_alerts && invoice.total_alerts.length > 0">
          <strong>
            <span class="strong">Alerts</span>
          </strong>
        </div>
        <ion-list id="alerts" ng-repeat="alert in invoice.total_alerts">
          <ion-item ng-if="(alert.category !== 'new_line_item' && alert.category !== 'line_item_quantity' && alert.category !== 'line_item_price_increase')" tooltip="{{alert.large_text === undefined || alert.large_text === null ? alert.short_text : alert.large_text}}" style="background: rgba(251,185,25,.5);">
            <span  tooltip-append-to-body="true" ng-click="solveDuplicateInvoice(alert.alertable_id, alert.invoice_owner_id)">
                {{alert.large_text}}
            </span>
  					<span ng-if="(alert.category == 'new_line_item' || alert.category == 'line_item_quantity' || alert.category == 'line_item_price_increase') && canShowAlert(alert.category)" tooltip-append-to-body="true" >
  					  Line Item alert please see below.
  					</span>
          </ion-item>
        </ion-list>
        <!--div class="row">
       <div  class="col" ng-if="invoice.total_alerts && invoice.total_alerts.length > 0">
          <div id="globalAlert" style="display:none;border: 2px solid #fbb919; background: rgba(251,185,25,.5);border-radius: 5px;">

          </div>
       </div>
    </div-->
        <div class="row">
          <div class="col">
            <div class="button-bar">
              <a ng-class="{'button button-positive':showDetails,'button button-outline button-positive':!showDetails}" id="detailsButton" ng-click="clickDetails();">Details</a>
              <a ng-show="bShowAccounting" ng-class="{'button button-positive':!showDetails,'button button-outline button-positive':showDetails}" id="accountingButton" ng-click="clickAccounting();">Accounting</a>
            </div>
          </div>
        </div>

        <div ng-show="showDetails">
            <div class="row">
                <div class="col">
                    <button class="button button-outline button-positive" ng-show="checkPDFURL(invoice.pdf_url) == true" ng-click="viewPdf(invoice.pdf_url)">View PDF</button>
                </div>
            </div>
            <ion-list class="billsync-list">
                <form ng-if="invoice.status === 'need_information'" name="form.missingFields">
                    <ion-item class="item-divider">
                        <div class="row">
                            <div class="col">Missing Information</div>
                        </div>
                    </ion-item>
                    <label class="item item-input" ng-if="!invoice.amount_due || form.missingFields.amount_due.$dirty">
                        <span class="input-label">Amount due</span>
                        <input type="text" placeholder="..." ng-model="invoice.amount_due" name="amount_due">
                    </label>
                    <label class="item item-input" ng-if="!invoice.vendor.name || form.missingFields.vendor_name.$dirty">
                        <span class="input-label">Vendor Name</span>
                        <input type="text" placeholder="..." ng-model="invoice.vendor.name" name="vendor_name">
                    </label>
                    <label class="item item-input" ng-if="!invoice.vendor.routing_number || form.missingFields.routing_number.$dirty">
                        <span class="input-label">Routing Number</span>
                        <input type="text" placeholder="..." ng-model="invoice.vendor.routing_number" name="routing_number">
                    </label>
                    <label class="item item-input" ng-if="!invoice.vendor.bank_account_number || form.missingFields.bank_account_number.$dirty">
                        <span class="input-label">Bank Number</span>
                        <input type="text" placeholder="..." ng-model="invoice.vendor.bank_account_number" name="bank_account_number">
                    </label>
                    <label class="item item-input" ng-if="!invoice.vendor.address1 || form.missingFields.address1.$dirty">
                        <span class="input-label">Address</span>
                        <input type="text" placeholder="..." ng-model="invoice.vendor.address1" name="address1">
                    </label>
                    <label class="item item-input" ng-if="!invoice.vendor.city || form.missingFields.vendor_city.$dirty">
                        <span class="input-label">City</span>
                        <input type="text" placeholder="..." ng-model="invoice.vendor.city" name="vendor_city">
                    </label>
                    <label class="item item-input" ng-if="!invoice.vendor.state || form.missingFields.vendor_state.$dirty">
                        <span class="input-label">State</span>
                        <input type="text" placeholder="..." ng-model="invoice.vendor.state" name="vendor_state">
                    </label>
                    <label class="item item-input" ng-if="!invoice.vendor.zip || form.missingFields.vendor_zip.$dirty">
                        <span class="input-label">ZIP</span>
                        <input type="text" placeholder="..." ng-model="invoice.vendor.zip" name="vendor_zip">
                    </label>
                    <ion-item>
                        <div class="row">
                            <div class="col">
                                <button class="button button-outline button-positive" ng-click="updateInvoice()">Add fields</button>
                            </div>
                        </div>
                    </ion-item>
                </form>
                <div class="row">
                    <div class="col"><b>Line Items</b></div>
                </div>
                <ion-item>
                    <div class="row">
                        <div class="col col-50">
                            <strong>Item</strong>
                        </div>
                        <div class="col text-center">
                            <strong>Price</strong>
                        </div>
                        <div class="col text-center">
                            <strong>vs 12 wks</strong>
                        </div>
                    </div>
                </ion-item>
                <ion-item ng-click="alertTooltip(line.alerts)" ng-repeat="line in invoice.invoice_transactions">
                    <div style="{{line.alerts.length > 0 ? 'background: rgba(251,185,25,.5);': '' }}" class="row">
                        <div class="col col-50">
                            {{line.description | maxLength: 15}}
                        </div>
                        <div class="col text-center">
                            {{line.price | number: 2}}
                        </div>
                        <div class="col text-center">
                            {{line.average_volume | number: 2}}
                            <span ng-show="line.average_volume">%</span>
                        </div>
                    </div>
                </ion-item>
                <!--ion-item ng-repeat="line in invoice.line_items_scoped">
              <div class="row">
                <div class="col col-50">
                  {{line.description.substring(0, 11)}}...    
                </div>
                <div class="col col-20">
                  {{line.price}}    
                </div>
                <div class="col col-30">
                  {{line.percent_difference}}    
                </div>
              </div>
            </ion-item-->
                <ion-item>
                    <div class="row">
                        <div class="col">
                            <button class="button button-outline button-positive">Add line items</button>
                        </div>
                    </div>
                </ion-item>
                <!--ion-item class="item-divider">
              <div class="row">
                <div class="col">Actions</div>
              </div>
            </ion-item-->
                <div class="row">
                    <div class="col">
                        <b>Actions</b>
                    </div>
                </div>
                <ion-item>
                    <div class="row">

                        <div class="col" ng-if="currentInvoice.status === 'ready_for_payment' && authorizeAction('pay-bill') && currentIndividual.user.verified">

                            <div class="row" style="margin-top:-8px;">
                                <div class="col text-center">
                                    <button class="button button-icon icon ion-cash" ng-click="changeInvoiceStatus('PAY_INVOICE', currentInvoice)"></button>
                                </div>
                            </div>
                            <div class="row" style="margin-top:-40%;">
                                <div class="col text-center">
                                    <label style="font-size:10px;">pay now</label>
                                </div>
                            </div>

                        </div>
                        <div class="col" ng-if="invoice.status === 'ready_for_payment' && authorizeAction('auto-pay-bill')">

                            <div class="row" style="margin-top:-8px;">
                                <div class="col text-center">
                                    <button class="button button-icon icon ion-loop" ng-click="autoPay(invoice)" style="padding: 0px;"></button>
                                </div>
                            </div>
                            <div class="row" style="margin-top:-40%;  padding: 0px;">
                                <div class="col text-center" style="padding: 5px 0px 0px 0px;">
                                    <label style="font-size:10px;">auto pay</label>
                                </div>
                            </div>

                        </div>
                        <!--div class="col" ng-if="currentInvoice.status === 'ready_for_payment' && authorizeAction('auto-pay-bill')">

                <div class="row" style="margin-top:-8px;">
                  <div class="col text-center">
                      <button class="button button-icon icon ion-more" ng-click="showActions(currentInvoice,$event)"></button>   
                    </div>          
              </div>
              <div class="row" style="margin-top:-18%;margin-left:-4px;">
                <div class="col text-center">
                <label style="font-size:10px;">more</label>
              </div>
              </div>

                </div-->

                        <div class="col" ng-if="authorizeAction('mark-as-paid-bill') && currentIndividual.user.verified">

                            <div class="row" style="margin-top:-8px;">
                                <div class="col text-center">
                                    <button class="button button-icon icon ion-folder" ng-click="changeInvoiceStatus('PAID', invoice)" style="padding: 0px;"></button>
                                </div>
                            </div>
                            <div class="row" style="  padding: 0px;margin-top:-40%;">
                                <div class="col text-center" style="padding: 5px 0px 0px 0px;">
                                    <label style="font-size:10px;">mark paid</label>
                                </div>
                            </div>


                        </div>

                        <div class="col" ng-if="authorizeAction('approve-bill-as-accountant') && !invoice.accountant_approved">
                            <button class="button button-icon icon ion-calculator" ng-click="approveInvoice(invoice, 'accountant')" style="padding: 0px;"></button>
                        </div>
                        <div class="col" ng-if="authorizeAction('approve-bill') && !invoice.regular_approved">

                            <div class="row" style="margin-top:-8px;">
                                <div class="col text-center">
                                    <button class="button button-icon icon ion-checkmark-round" ng-click="approveInvoice(invoice, 'regular')" style="padding: 0px;padding-right: 0px;"></button>
                                </div>
                            </div>
                            <div class="row" style="margin-top:-40%;">
                                <div class="col text-center" style="  padding: 5px 0px 0px 0px;">
                                    <label style="font-size:10px;">approve</label>
                                </div>
                            </div>



                        </div>
                        <div class="col" ng-if="authorizeAction('update-edit-bill')" style="text-align: center !important;">

                            <div class="row" style="margin-top:-8px;">
                                <div class="col text-center">
                                    <button class="button button-icon icon ion-edit" ng-click="editInvoice(invoice)" style="padding: 0px;"></button>
                                </div>
                            </div>
                            <div class="row" style="margin-top:-40%;">
                                <div class="col text-center" style="  padding: 5px 0px 0px 0px;">
                                    <label style="font-size:10px;">edit</label>
                                </div>
                            </div>


                        </div>
                        <div class="col" ng-if="authorizeAction('delete-bill')">

                            <div class="row" style="margin-top:-8px;">
                                <div class="col text-center">
                                    <button class="button button-icon icon ion-trash-a" ng-click="changeInvoiceStatus('MARK_AS_DELETED', invoice)" style="padding: 0px;"></button>
                                </div>
                            </div>
                            <div class="row" style="margin-top:-40%;">
                                <div class="col text-center" style="padding: 5px 0px 0px 0px;">
                                    <label style="font-size:10px;">delete</label>
                                </div>
                            </div>

                        </div>
                        <div class="col" ng-if="authorizeAction('delay-bill')">

                            <div class="row" style="margin-top:-8px;">
                                <div class="col text-center">
                                    <button class="button button-icon icon ion-clock" ng-click="showDeferActions(invoice)" style="padding: 0px;"></button>
                                </div>
                            </div>
                            <div class="row" style="margin-top:-40%;margin-left:3px;">
                                <div class="col text-center" style="padding: 5px 0px 0px 0px;">
                                    <label style="font-size:10px;">delay</label>
                                </div>
                            </div>


                        </div>
                    </div>
                </ion-item>
                <!--ion-item>
              <div class="row">
                <div class="col" ng-if="invoice.status === 'ready_for_payment' && authorizeAction('pay-bill')">
                  <button class="button button-icon icon ion-cash" ng-click="changeInvoiceStatus('PAY_INVOICE', invoice)"></button>
                </div>
                <div class="col" ng-if="authorizeAction('mark-as-paid-bill')">
                  <button class="button button-icon icon ion-folder" ng-click="changeInvoiceStatus('PAID', invoice)"></button>
                </div>
                <div class="col" ng-if="invoice.status === 'ready_for_payment' && authorizeAction('auto-pay-bill')">
                  <button class="button button-icon icon ion-loop" ng-click="autoPay(invoice)"></button>
                </div>
                <div class="col" ng-if="authorizeAction('approve-bill-as-accountant') && !invoice.accountant_approved">
                  <button class="button button-icon icon ion-calculator" ng-click="approveInvoice(invoice, 'accountant')"></button>
                </div>
                <div class="col" ng-if="authorizeAction('approve-bill') && !invoice.regular_approved">
                  <button class="button button-icon icon ion-checkmark-round" ng-click="approveInvoice(invoice, 'regular')"></button>
                </div>
                <div class="col" ng-if="authorizeAction('update-edit-bill')">
                  <button class="button button-icon icon ion-edit" ng-click="editInvoice(invoice)"></button>
                </div>
                <div class="col" ng-if="authorizeAction('delete-bill')">
                  <button class="button button-icon icon ion-trash-a" ng-click="changeInvoiceStatus('MARK_AS_DELETED', invoice)"></button>
                </div>
                <div class="col" ng-if="authorizeAction('delay-bill')">
                  <button class="button button-icon icon ion-clock" ng-click="showDeferActions(invoice)"></button>
                </div>
              </div>    
            </ion-item-->
            </ion-list>
        </div>
        <div ng-show="!showDetails">
            <ion-item>
                <div class="row">
                    <div class="col col-80">
                        <strong>Item</strong>
                    </div>
                    <div class="col col-20">
                        <strong>Total</strong>
                    </div>
                </div>
            </ion-item>
            <ion-item ng-repeat="transaction in invoice.invoice_transactions" style="{{transaction.alerts.length > 0 ? 'background: rgba(251,185,25,.5);': '' }}">

                
                    <div class="row" ng-click="alertTooltip(transaction.alerts)">
                    <div class="col col-80">
                        {{ transaction.description | maxLength:20 }}
                    </div>
                    <div class="col col-20">
                        ${{ transaction.total | number:2 }}
                    </div>
                    </div>
                    <div class="row" ng-click="alertTooltip(transaction.alerts)">
                        <div class="col" ng-if="currentIndividual.user.synced_qb">
                        Expense Cat.
                        </div>
                        <div class="col col-50" ng-if="currentIndividual.user.synced_qb && currentIndividual.user.qb_classes && currentIndividual.user.qb_classes.length > 0">
                        Class
                        </div>
                    </div>
                  <div class="row">
                    <div class="col" ng-if="currentIndividual.user.synced_qb">
                      <select style="width:100%;" class="item item-input" ng-model="transaction.expense_account_id" class="text-center" ng-options="account.id as account.name for account in currentIndividual.user.expense_accounts" ng-change="updateItem(transaction.description, transaction.expense_account_id, 'expense_account_id', 'update_all')">
                      </select>
                    </div>

                    <div class="col col-50" ng-if="currentIndividual.user.synced_qb && currentIndividual.user.qb_classes && currentIndividual.user.qb_classes.length > 0">
                      <select style="width:100%;" class="item item-input text-center" ng-model="transaction.qb_class_id" ng-options="qb_class.id as qb_class.name for qb_class in currentIndividual.user.qb_classes" ng-change="updateItem(transaction.description, transaction.qb_class_id, 'qb_class_id', 'update_all')">
                      </select>
                    </div>
                  </div>


                        <!--ui-select ng-model="$parent.line.qb_class_id" on-select="updateItem($parent.line.id, $item.id, 'qb_class_id')">
                <ui-select-match placeholder="Choose...">
                  {{$select.selected.name}}
                </ui-select-match>
                <ui-select-choices repeat="qb_class.id as qb_class in currentIndividual.user.qb_classes | filter: $select.search">
                  <div ng-bind-html="qb_class.name"></div>
                </ui-select-choices>
              </ui-select-->

                    </div>


                </div>
            </ion-item>
        </div>





    </ion-content>
</ion-view>