<ion-side-menus >
  <ion-side-menu-content>
    <ion-nav-bar class="bar-light">
      <ion-nav-back-button class="button-clear">
        <i class="icon ion-ios7-arrow-left"></i>
      </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left">
    <!--ion-header-bar class="billsync-bar">
      <h1 class="title small-logo">billSync</h1>
    </ion-header-bar-->
    <ion-content style="background-color: #fdfdfc;" >
      <ion-list class="billsync-menu">
        <div class="text-center">

          <div class="row">
            <div class="col" style="padding-top: 30px;  margin-bottom: -15px;">
                <img src="img/billsync.png" class="small-logo" style="width:85px;height:85px;">
            </div>
          </div>
        </div>
        <ion-item ui-sref="app.tabs.vendors" class="element-clickable" style="border-style:none"  menu-close>
          <div style="float:left;">
            <i class="icon ion-person-stalker" style="margin-top:-20px;font-size:25px;"></i>
          </div>  
          <div style="margin-left:30px;margin-top:2px">
            Vendors
          </div>  
        </ion-item>
        <ion-item ui-sref="app.tabs.profile" style="border-style:none" class="element-clickable" menu-close ng-if="authorizeAction('update-edit-profile-business-information')">
          <div style="float:left;">
            <i class="icon ion-person" style="font-size:25px;"></i>
          </div>  
          <div style="margin-left:30px;margin-top:2px">
          Profile
          </div>  
        </ion-item>
        <!--ion-item ui-sref="app.tabs.vendors">
          <i class="icon ion-person-stalker" style="font-size:25px;"></i>
          Vendors
        </ion-item-->
        <ion-item ui-sref="app.tabs.settings" style="border-style:none" class="element-clickable" menu-close>
          <div style="float:left;">
            <i class="icon ion-gear-a" style="font-size:25px;"></i>
          </div>  
          <div style="margin-left:30px;margin-top:2px">
          Settings
          </div>  
        </ion-item>
        <ion-item ui-sref="app.tabs.users" style="border-style:none"  class="element-clickable" menu-close ng-if="authorizeAction('edit-user')">
          <div style="float:left;">
            <i class="icon ion-person-stalker" style="font-size:25px;"></i>
          </div>  
          <div style="margin-left:30px;margin-top:3px">
          Manage Users
          </div>  
        </ion-item>

        <ion-item ui-sref="app.tabs.accounting" style="border-style:none"  class="element-clickable" menu-close ng-if="authorizeAction('edit-user')">
          <div style="float:left;">
            <i class="icon ion-briefcase" style="font-size:25px;"></i>
          </div>  
          <div style="margin-left:30px;margin-top:3px">
          Accounting
          </div>  
        </ion-item>
        <!--div ui-sref="app.accounting" class="text-center" menu-close ng-if="authorizeAction('edit-user')">
          <div class="row">
            <div class="col" style="margin-left:-10px;margin-top:15px;">
              <i class="icon  ion-briefcase" style="font-size:35px;"></i>
            </div>
          </div>
          <div class="row">
            <div class="col" style="margin-left:-3px;">
              Accounting
            </div>
          </div>
          
        </div-->

        <ion-item ng-click="logout()" style="border-style:none" >
          <div style="float:left;">
            <i class="icon ion-log-out" style="font-size:25px;"></i>
          </div>  
          <div style="margin-left:30px;margin-top:1px">
          Logout
          </div>            
        </ion-item>
        <ion-item menu-close style="border-style:none" >
          <div style="float:left;">
            <i class="icon ion-close-round" style="font-size:25px;"></i>
          </div>  
          <div style="margin-left:30px;margin-top:1px">
          Close menu
          </div>   
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
