<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Sign Up</h1>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <!--ion-item class="item-input" style="border-style:none">
        <span class="input-label text-right">Full Name</span>
        <input type="text" ng-model="newUser.name">
      </ion-item-->
      <!--ion-item class="item-input" style="border-style:none">
      
      <div class="row">
        <div class="col col-40" style="margin-left:0px;border:1px solid grey;">
          <span style="padding-left:31%;" class="input-label text-right">Company Name</span>
        </div>
        <div class="col col-60 text-left" style="margin-left:0px;border:1px solid grey;">
          <input type="text" ng-model="newUser.business_name">
        </div>
      </div>
      </ion-item-->
      <label class="item item-input item-floating-label">
        <span class="input-label">Full Name</span>
        <input type="text" placeholder="Full Name" ng-model="newUser.name">
      </label>

      <label class="item item-input item-floating-label">
        <span class="input-label">Company Name</span>
        <input type="text" placeholder="Company Name" ng-model="newUser.business_name">
      </label>

      <label class="item item-input item-floating-label">
        <span class="input-label">Cell Phone</span>
        <input type="text" placeholder="Cell Phone" ng-model="newUser.mobile_phone">
      </label>

      <label class="item item-input item-floating-label">
        <span class="input-label">E-Mail</span>
        <input type="text" placeholder="E-Mail" ng-model="newUser.email">
      </label>
      <!--ion-item class="item-input" style="border-style:none">
      

        <span class="input-label text-right">Cell Phone</span>
        <input type="text" ui-mask="(999) 999-9999" ng-model="newUser.mobile_phone">


      </ion-item-->
      <!--ion-item class="item-input" style="border-style:none">
        <span class="input-label text-right">E-Mail</span>
        <input type="email" ng-model="newUser.email">
      </ion-item-->

      <!--ion-item class="item-input" style="border-style:none">
        <span class="input-label text-right">Password</span>
        <input type="{{chkState ? 'text' : 'password'}}" ng-model="newUser.password">
      </ion-item-->

      <label class="item item-input item-floating-label">
        <span class="input-label">Password</span>
        <input placeholder="Password" type="{{chkState ? 'text' : 'password'}}" ng-model="newUser.password">
      </label>


      <ion-item class="item item-checkbox" style="border-style:none">
           <label class="checkbox">
             <input type="checkbox" ng-click="showPassword()" checked>
           </label>
           Show password
      </ion-item>
      <ion-item class="item item-checkbox text-right" style="border-style:none;">
           <label class="checkbox">
             <input type="checkbox" ng-model="newUser.terms_of_service">
           </label>
           <div class="text-left" style="white-space:normal">
              Agree to Terms of Service and Privacy Policy. <!--&nbsp;<a href="http://bill-sync.com/terms-privacy/">Show terms</a>-->
           </div>
      </ion-item>
      <!--div class="row">
          <div class="col">
            <a href="http://bill-sync.com/terms-privacy/" class="button button-block button-positive" style="border-radius: 5px;">Show terms</a>
          </div>
      </div-->
      <ion-item style="border-style:none">
        
        <div class="row" style="margin-top:-5px;">
          <div class="col">
            <!--button class="button button-block button-positive" style="border-radius: 5px;" ng-click="doSignup()">Let's get going!</button-->

            <button class="button button-block button-light" style="border:2px solid #336699;background-color:white;border-radius: 5px;display: block;line-height: 132%;white-space:normal;font-size:15px;" ng-click="doSignup()">
            <div style="margin-left:-7px;"><font style="color:#336699;">Let's get going!</font></div>
            </button>


          </div>
          <div class="col">
            <button class="button button-block button-light" style="border-radius: 5px;font-size: 83%;line-height: 132%;white-space:normal;" ng-click="openLogin()">
            
              <div style="margin-left:-7px;">Already have account login here </div>
              <!--div class="row">
              <div class="col" style="margin-left:-12px;margin-top:-15px;"> Already have account </div>
              </div>
              <div class="row">
              <div class="col" style="margin-left:-8px;margin-top:-37px;"> login here </div>
              </div-->

            </button>
          </div>
        </div>        

      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>
